    <html>
        <head>

        </head>

        <body>
            <h1>Diabetis Dataset</h1>
            <h2>Vinayak Shetty Logistic Regression model </h2>

            <p>Input below values for Diabetes prediction</p>
            
            <form method='POST' action= '/predict'>

             
                <input type='number', name='preg', placeholder=" preg ", required="required"><br>
                <input type='number', name='plas', placeholder=" plas ", required="required"><br>
                <input type='number', name='pres', placeholder=" pres ", required="required"><br>
                <input type='number', name='skin', placeholder=" skin ", required="required"><br>
                <input type='number', name='test', placeholder=" test ", required="required"><br>
                <input type='number', name='mass', placeholder=" mass ", required="required"><br>
                <input type='number', name='pedi', placeholder=" pedi ", required="required"><br>
                <input type='number', name='age', placeholder=" age ", required="required"><br><br>
                


                <button type='submit'>Predict</button>
            </form>

        </body>

    </html>



   
